/*	=Main Styles
	...................................................................... */
	
	
	
/*	=User Styles
  ...................................................................... */

.photo {
  height:50px;
  width:50px;
  background: url('/images/missing.png') 0 0 no-repeat;
}