!!! 5
%html 
  %head
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "Content-Type" }
    = stylesheet_link_tag "blueprint/screen.css", "blueprint/application.css", :media => "screen, projection"
    = stylesheet_link_tag "blueprint/print.css", :media => "print"
    %title
      
%body
  .container
    = yield
  = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js", "application", :cache => true